version: 2.0

jobs:
  test:
    docker:
      - image: circleci/openjdk:8-jdk-stretch

    steps:
      - checkout

      - restore_cache:
          key: hotel-booking-{{ checksum "pom.xml" }}

      - run:
          name: Go Offline
          command: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: hotel-booking-{{ checksum "pom.xml" }}

      - run:
          name: Unit Tests
          command: mvn test

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
